<html>
<head>
    <title>Cocktails Menu </title>
    <script
        src="/static/cocktails.js"
        src="https://code.jquery.com/jquery-1.12.4.js"
        integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
        crossorigin="anonymous">
    </script>
  <link rel="stylesheet" href="/static/style.css" type="text/css">
</head>
<body>
    <h1>Cocktails</h1>
    <div id="alcohols">
            <a href="/">All</a>
        <% alcoholList.forEach(function(alcohol){ %> 
            <a href=<%= '?alcohol=' + alcohol %>><%= alcohol %> </a>
       <% }); %>

       <p>Selected Alcohol Type : 
            <% if(atype.alcohol != null){ %>
           <strong> <%= atype.alcohol %> </strong>
            <% }else { %>
                <strong> <%= 'All what we have' %> </strong>
            <% }; %></p>

    </div>
    <div id="cocktails">
        <table>
            <thead>
                <tr>
                    <th>NAME</th>
                    <th>PRICE</th>
                </tr>
            </thead>
            <tbody>
                    <% cocktails.forEach(function(cocktail){ %>
                        <% if(cocktail.contains.includes(atype.alcohol) || atype.alcohol == null){ %>
                        <tr>
                        <td><%= cocktail.name %> <% if(!cocktail.isAlcoholic){ %>
                            <%= '(non-alcoholic)' %>
                            <%};%>
                        <br><%= cocktail.contains %></td>
                        <td><%= cocktail.price %></td>
                    </tr>
                   <% }}); %>
                
            </tbody>
    
        </table>
        <div id="add">
                <form>
                    <input type="text" name="name" placeholder="Add new cocktail" required>
                    <input type="text" name="price" placeholder="PRICE">
                    <input type="text" name="contains" placeholder="Ingredience">
                    <label for="isAlcoholic">Is Alcoholic</label>
                    <input type="checkbox" name="isAlcoholic" value="true">
                    <button type="submit">Add</button>
                </form>
            </div>

    </div>
</body>

</html>